# The URL of the Maestro broker
MAESTRO_BROKER="{{ maestro_url }}"

# The log directory
MAESTRO_LOG_DIR="/home/{{ maestro_user }}/log/"

# If set will override local hostname detection
# MAESTRO_LOCAL_HOSTNAME=""
