# The URL of the Maestro broker
MAESTRO_BROKER="{{ maestro_url }}"

# The sender worker
MAESTRO_INSPECTOR_CLASS="org.maestro.inspector.activemq.ArtemisInspector"

# The log directory
MAESTRO_LOG_DIR="/home/{{ maestro_user }}/log/"

